[submodule ".themes/MediumFox"]
	path = .themes/MediumFox
	url = https://github.com/sevenadrian/MediumFox
[submodule ".themes/new-york"]
	path = .themes/new-york
	url = git://github.com/octothemes/new-york.git
[submodule ".themes/casper"]
	path = .themes/casper
	url = https://github.com/jkrmr/casper.git
[submodule ".themes/hpstr"]
	path = .themes/hpstr
	url = https://github.com/jez/hpstr-theme.git
[submodule ".themes/geeksoflondon"]
	path = .themes/geeksoflondon
	url = git://github.com/geeksoflondon/octopress-design.git
[submodule ".themes/octollax"]
	path = .themes/octollax
	url = https://github.com/maverick2000/octollax.git
[submodule ".themes/reynard"]
	path = .themes/reynard
	url = https://github.com/hyfather/reynard.git
