[submodule ".themes/MediumFox"]
	path = .themes/MediumFox
	url = https://github.com/sevenadrian/MediumFox
[submodule ".themes/new-york"]
	path = .themes/new-york
	url = git://github.com/octothemes/new-york.git
